*{
  margin: 0;
  padding : 0;
}

body, html {
  width:100%;
  height: 100%;
  background-color: #ccc;
  position: relative;
  font-family: arial;
}

header{
  background-color: black;
  background:-webkit-gradient(linear, 67% 100%, 10% 17%, from(#21292F), to(#110B10))
  top: 0;

  /*dégradés du bloc*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+0,595959+16,666666+25,474747+32,474747+32,2c2c2c+37,000000+61,111111+71,2b2b2b+76,1c1c1c+81,1c1c1c+88,131313+100 */
  background: rgb(28,28,28); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(28,28,28,1) 0%, rgba(89,89,89,1) 16%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 32%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 37%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 71%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 81%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(28,28,28,1) 0%,rgba(89,89,89,1) 16%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 32%,rgba(71,71,71,1) 32%,rgba(44,44,44,1) 37%,rgba(0,0,0,1) 61%,rgba(17,17,17,1) 71%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 81%,rgba(28,28,28,1) 88%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(28,28,28,1) 0%,rgba(89,89,89,1) 16%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 32%,rgba(71,71,71,1) 32%,rgba(44,44,44,1) 37%,rgba(0,0,0,1) 61%,rgba(17,17,17,1) 71%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 81%,rgba(28,28,28,1) 88%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*logo du header*/
#logo{
  font-weight: bolder;
  position: absolute;
  top:6%;
  left: 2%;
  color:white;
  font-size: 20px;
  text-shadow: #ccc;
}

/*effet 3D pour le logo*/
.Three-Dee{
  z-index: 10;
font-family: ABeeZee ;
line-height: 1em;
color: undefined;
font-size: 30px;
text-shadow:0px 0px 0 rgb(222,222,222),-1px 1px 0 rgb(199,199,199),-2px 2px 0 rgb(176,176,176),-3px 3px 0 rgb(153,153,153),-4px 4px 0 rgb(130,130,130),-5px 5px 0 rgb(107,107,107), -6px 6px 0 rgb(84,84,84),-7px 7px 6px rgba(0,0,0,0.15),-7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
-webkit-transform: rotate(358deg);
-moz-transform: rotate(358deg);
-o-transform: rotate(358deg);
writing-mode: lr-tb;
}


h1{
  color:#fff;
}

h1, h2{
  text-align: center;
  font-weight: bold;
}

.navbar {
  /*line-height: 6vh;*/
  /*background: #fff;*/
  background-color: rgba(0, 0, 0, 0.2);;
  /*padding: 2%;*/
  line-height: 6%;
  border-radius: solid grey 2px;
}

.navbar ul{
  position: absolute;
  right:3%;
  /*margin-right: 3%;*/
}

.navbar ul li{
  /*display: inline;*/
  float: left;
  line-height: 3vh;
  border-right: 2px grey groove;
  padding-right:2%;
}

.navbar ul li a{
  color:white;
  margin-left: 2%;
  /*width: 100%;*/
}

.navbar ul li a:hover{
  /*padding: 3px;*/
  text-decoration: underline;
  border-bottom: 3px white solid;
  padding-bottom: 4px;

}


.container{
  height: 100%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border:grey solid 2px;
  border-radius:16px;
  background-color: #444;
  position: relative;

  background-image:url(img/wall_b.jpg);
  background-size: contain;
}

.main{
  height:auto;
  border: solid #333 2px;
  border-radius: 25px 0 25px 0;
  margin: 5% 2%;
  position: relative;
  padding: 4%;
  background-color: rgba(222, 222, 222, 0.5);

}

/*.gauche, .droite{
  border: white solid 2px;
}*/

.gauche{
  float:left;
  margin-bottom: 3%;
}

.droite{
  float:right;
  margin-bottom: 3%;
}

/*blocs de menu inscription / connexion*/
#register, #login{
  background-color: rgba(255, 255, 255, 0.4);
  border: white solid 2px;
  margin: auto;
  /*margin-left: 5%;*/
  padding: 5%;
  border-radius: 15px;
}
#register h2, #login h2{
  /*margin: auto;
  margin-left: 5%;
  padding: 5%;*/
  text-align: center;
}


#register ul li, #login ul li{
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  width:90%;
  margin-bottom: 2%;
}

#register ul li input:focus, #login ul li input:focus{
  background-color: black;
  color: white
}

#register ul li input:active, #login ul li input:active{
  background-color: blue;
  border-bottom: black solid 3px;
  border-left: black solid 3px;
  border-top: #ccc solid 3px;
  border-right: #ccc solid 3px;

  background-image:url(img/wall_b.jpg);
}


.button{
  padding: 4px;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: rgba(0, 200, 200, 0.7);
}

.button:hover{
  background-color: white;
  color:gold;
}

.clearfix{
  clear: both;
  position: relative;
}



footer{
  height: 6vh;
  position:relative;
  bottom:0;
  margin: auto;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.4);
}

footer ul li{
  display: inline;
  margin-right: 2%;
  line-height: 6vh;
}

footer ul li a img{
  border-radius: 50px;
  height:4vh;
  width: 4vh;
  background-color: red;
  border:0;
}

footer ul li a:hover{
  text-decoration: none;
}





/*__________________Style de Tweets_____________________________*/


#scene3D{
  width:300px;
height:300px;
  perspective:500px;
}
