*{
  margin: 0;
  padding : 0;
}

body, html {
  width:100%;
  height: 100%;
  color: black;
  background-color: #ccc;
  position: relative;
  font-family: arial;
}

header{
  background-color: black;
  background:-webkit-gradient(linear, 67% 100%, 10% 17%, from(#21292F), to(#110B10))
  top: 0;
  position: relative;
}

/*logo du header*/
#logo{
  font-weight: bolder;
  position: absolute;
  top:6%;
  left: 2%;
  color:white;
  font-size: 20px;
  text-shadow: #ccc;
}
/*effet 3D pour le logo*/
.Three-Dee{
font-family: ABeeZee ;
line-height: 1em;
color: undefined;
font-size: 30px;
text-shadow:0px 0px 0 rgb(222,222,222),-1px 1px 0 rgb(199,199,199),-2px 2px 0 rgb(176,176,176),-3px 3px 0 rgb(153,153,153),-4px 4px 0 rgb(130,130,130),-5px 5px 0 rgb(107,107,107), -6px 6px 0 rgb(84,84,84),-7px 7px 6px rgba(0,0,0,0.15),-7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
-webkit-transform: rotate(348deg);
-moz-transform: rotate(348deg);
-o-transform: rotate(348deg);
writing-mode: lr-tb;
}


h1{
  color:#fff;
}

h1, h2{
  text-align: center;
  font-weight: bold;
}


.navbar {
  line-height: 6vh;
  /*background: #fff;*/
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 0px;
  margin: 0px;
}

.navbar ul{
  position: absolute;
  right:2%;
  /*margin-right: 3%;*/
}

.navbar ul li a{
  color:white;
  margin-left: 2%;
  width: 100%;

}

.navbar ul li a:hover{
  color:white;
  /*background-color: gold;*/
  /*border-radius: 8px 0;*/
  /*padding: 3px;*/
  text-decoration: underline;
  border-bottom: 3px white solid;
  padding-bottom: 4px;

}

.navbar ul li{
  display: inline;
  line-height: 6vh;
}

.container{
  height: 100%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border:grey solid 2px;
  border-radius:16px;
  background-color: #444;
  position: relative;

  background-image:url(img/wall_b.jpg);
  background-size: contain;
}

.main{
  height:auto;
  border: solid #333 2px;
  border-radius: 25px 0 25px 0;
  margin: 5% 2%;
  position: relative;
  padding: 2%;
  background-color: #222;
}

/*.gauche, .droite{
  border: white solid 2px;
}*/

.gauche{
  float:left;
  margin-bottom: 3%;
}

.droite{
  float:right;
  margin-bottom: 3%;
}

/*blocs de menu inscription / connexion*/
#register, #login{
  background-color: rgba(255, 255, 255, 0.4);
  border: white solid 2px;
  margin: auto;
  /*margin-left: 5%;*/
  padding: 5%;
  border-radius: 15px;
}
#register h2, #login h2{
  /*margin: auto;
  margin-left: 5%;
  padding: 5%;*/
  text-align: center;
}


#register ul li, #login ul li{
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  width:90%;
  margin-bottom: 2%;
}

#register ul li input:focus, #login ul li input:focus{
  background-color: orange;
}

#register ul li input:active, #login ul li input:active{
  background-color: blue;
  border-bottom: black solid 3px;
  border-left: black solid 3px;
  border-top: #ccc solid 3px;
  border-right: #ccc solid 3px;
}


.button{
  padding: 4px;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: rgba(0, 200, 200, 0.7);
}

.button:hover{
  background-color: white;
  color:gold;
}

.clearfix{
  clear: both;
  position: relative;
}



footer{
  height: 6vh;
  position:relative;
  bottom:0;
  margin: auto;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.4);
}

footer ul li{
  display: inline;
  margin-right: 2%;
  line-height: 6vh;
}

footer ul li a img{
  border-radius: 50px;
  height:4vh;
  background-color: red;
  border:0;
}
