*{
  margin: 0;
  padding : 0;
}

body, html {
  width:100%;
  height: 100%;
  color: black;
  background-color: grey;
  position: relative;
  font-family: arial;
}

header{
  background-color: pink;
  top: 0;
}

.main{
  height:auto;
  border-radius: 25px 0 25px 0;
  margin: 5% 0;
}

h1{
  text-align: center;
}

.navbar {
  line-height: 6vh;
  /*background: #fff;*/
  background-color: green;
  padding: 0px;
  margin: 0px;
}

.navbar ul{
  position: absolute;
  right:0;
  margin-right: 3%;
}

.navbar ul li a{
  color:white;
}

.navbar ul li a:hover{
  color:gold;
  background-color: white;
  border-radius: 8px 0;
  padding: 3px;

}

.navbar ul li{
  display: inline;
  line-height: 6vh;
}

.container{
  height: 100%;
  margin: auto;
  border:grey solid 2px;
  background-color: yellow;
  position: relative;
}

/*.gauche, .droite{
  border: white solid 2px;
}*/

.gauche{
  float:left;
  margin-bottom: 3%;
}

.droite{
  float:right;
  margin-bottom: 3%;
}

/*blocs de menu inscription / connexion*/
#register, #login{
  background-color: rgba(255, 255, 255, 0.4);
  border: white solid 2px;
  margin: auto;
  /*margin-left: 5%;*/
  padding: 5%;
  border-radius: 15px;
}
#register h2, #login h2{
  /*margin: auto;
  margin-left: 5%;
  padding: 5%;*/
  text-align: center;
}


#register ul li, #login ul li{
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  width:90%;
  margin-bottom: 2%;
}

#register ul li input:focus, #login ul li input:focus{
  background-color: orange;
}

#register ul li input:active, #login ul li input:active{
  background-color: blue;
  border-bottom: black solid 3px;
  border-left: black solid 3px;
  border-top: #ccc solid 3px;
  border-right: #ccc solid 3px;
}



.button{
  padding: 4px;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: rgba(0, 200, 200, 0.7);
}

.button:hover{
  background-color: white;
  color:gold;
}

.clearfix{
  clear: both;
}

footer{
  height: 6vh;
  position:absolute;
  bottom:0;
  margin: auto;
  text-align: center;
  background-color: blue;
}

footer ul li{
  display: inline;
  margin-right: 2%;
  line-height: 6vh;
}

footer ul li a img{
  border-radius: 50px;
  height:4vh;
  background-color: red;
  border:0;
}
